.body {
    background-color: lightorange;
    font-family: Arial, sans-serif;
}


.nav-bar {
    border: solid 1px white ;
    border-radius: 10px;
    background-color: gray;
    margin: -1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 98%;
    left: 0;
    

}

ul{
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: color 0.3s ease;
}

ul:hover {
    color: blue ;
}
li {
    margin: 0 10px;
}

.sfondo {
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 10px;
    padding: 100px;
    display: flex;
    flex-direction: row ;
    height: 700px;



}

.imglogo {
   margin: auto;
    width: 900px;
    height: 800px;
}


.button:link {
    color: black;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
    width: 100px;
    height: 30px;
    padding: 2px;
}

.quadrato {
    border: solid 1px white;
}


.logo {
    width: 100px;
    height: 100px;
}


.footer {
    border: solid 2px ;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin: -1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 98%;
    left: 0;
    bottom: 0;

}